* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jockey One', sans-serif;
}

/* 
    VARIABLES
*/
:root {
    --colorPrincipal: #00b400;
    --colorSecundario: #00324D;
    --colorTerceario: #f0f1f6;
    --blanco : #fff;
    --negro: #333;
    --rojo: #ec1848;
}


/* 
    VISTA WELCOME
*/
.welcomeContainer {
    margin: auto;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-top: -20px;
}

.welcomeContainer__logo {
    width: 100%;
    max-width: 250px;
}

.welcomeContainer__logo--img {
    width: 100%;
}

.welcomeContainer__options {
    width: 100%;
    max-width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.options {
    display: inline-block;
}

.options a {
    text-decoration: none;
    color: var(--colorPrincipal);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}

.options__icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    border: 2px solid var(--colorPrincipal);
}

.options__icon i {
    font-size: 50px;
    color: var(--colorPrincipal);
}

.welcomeContainer__sena {
    position: absolute;
    bottom: 20px;
    width: 40px;
}


/* 
    VISTA LOGIN
*/
.loginContainer {
    margin: auto;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: -40px;
}

.loginContainer__logo {
    width: 100%;
    max-width: 250px;
}

.loginContainer__logo--img {
    width: 100%;
}

.loginContainer__form {
    width: 100%;
    max-width: 280px;
}

.loginContainer__form a{
    text-decoration: none;
    color: var(--colorPrincipal);
    font-weight: bold;
    /* margin-top: 20px; */
    /* margin-left: 35px; */
}

.form__item{
    margin: 12px auto;
}

.item__label {
    padding: 0px 0px 0px 15px;
}

.item__input {
    border: none;
    outline: none;
    border-radius: 7px;
    width: 100%;
    margin-top: 4px;
    padding: 10px;
    background-color: var(--colorTerceario);
}

.item__input:focus {
    outline: 1px solid var(--colorPrincipal);
}

.is-invalid {
    outline: 1px solid var(--rojo) !important;
}

.form__button {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    cursor: pointer;
    text-transform: uppercase;
    color: var(--colorPrincipal);
    border: 2px solid var(--colorPrincipal);
    border-radius: 7px;
    width: 80px;
    padding: 10px 0px;
    background-color: var(--blanco);
}

.button a{
    text-decoration: none;
}

.alert {
    color: var(--rojo);
}

/* 
    VISTA REGISTER
*/
.registerContainer {
    margin: 30px auto;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.registerContainer__logo {
    display: none;
}

.registerContainer__form {
    padding: 0px 20px;
}

.registerContainer .welcomeContainer__sena {
    display: none;
}





/* 
    DESKTOP
*/
@media screen and (min-width: 1024px) {

    /* 
        VISTA WELCOME
    */
    .welcomeContainer {
        margin-top: 0px;
        max-width: 100%;
        flex-direction: row;
        gap: 0;
    }

    .welcomeContainer__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 65%;
        min-height: 100vh;
        background-color: var(--colorPrincipal);
    }

    .welcomeContainer__logo--img {
        max-width: 320px;
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
    }

    .welcomeContainer__options {
        max-width: 35%;
        justify-content: center;
        gap: 50px;
    }
    .welcomeContainer__sena{
        top: 10px;
        left: 10px;
    }

    .welcomeContainer__sena--white {
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
    }

    /* 
        VISTA LOGIN
    */
    .loginContainer {
        margin-top: 0px;
        max-width: 100%;
        flex-direction: row;
        gap: 0;
    }

    .loginContainer__logo {
        display: flex;
        order: 1;
        align-items: center;
        justify-content: center;
        max-width: 35%;
        min-height: 100vh;
        background-color: var(--colorPrincipal);
    }

    .loginContainer__logo--img {
        max-width: 320px;
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
    }

    .loginContainer__form {
        max-width: 65%;
    }

    .form {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .form__item {
        width: 310px;
    }

    .item__input {
        padding: 12px;
    }


    /* 
        VISTA REGISTER
    */
    .registerContainer {
        margin: 0px;
        max-width: 100%;
        flex-direction: row;
        gap: 0;
    }

    .registerContainer__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
        min-height: 100vh;
        background-color: var(--colorPrincipal);
    }

    .registerContainer__logo--img {
        max-width: 320px;
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
    }

    .registerContainer__form {
        padding: 0px 0px;
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .form__item {
        display: inline-block;
        margin: 12px 8px;
    }

    .form__button {
        width: 100%;
        max-width: 400px;
    }

    .registerContainer .welcomeContainer__sena {
        display: block;
    }

    .lista {
        max-width: 50% !important;
    }
}

/* SECCIONES Y TEMAS */
.lista {
    counter-reset: li;
    list-style: none;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin: 0 auto;
    max-width: 80%;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 var(--colorTerceario);
}

.lista ol {
    margin: 0 0 0 2em;
}

.lista li {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: 1em 0;
    background: var(--colorSecundario);
    color: var(--blanco);
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
    cursor: pointer;
}

.lista a {
    text-decoration: none;
}

.lista li:hover {
    background: var(--colorPrincipal);
}

.lista li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: var(--colorPrincipal);
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid ;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.lista .sublista {
    display: none;
}

.lista .sublista li::before {
    content: '';
}

.lista .sublista li:hover {
    background-color: var(--blanco);
    color: var(--colorSecundario);
}

.lista li.sublista-activa>.sublista {
    display: block;
}

.container__temas {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* position: relative; */
}

.second__container {
    padding: 0 10px;
    justify-content: flex-start;
    gap: 20px;
}

.container__cards {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}

.card__temas {
    border: 2px solid var(--colorSecundario);
    border-radius: 30px;
    overflow: hidden;
    width: 140px;
    height: 270px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    cursor: pointer;
}

.temas__info {
    color: var(--blanco);
    padding: 5px 10px 10px 10px;
    background-color: var(--colorPrincipal);
    position: relative;
    z-index: 100;
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.temas__info--extra {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.temas__info--name {
    font-size: 18px;
    font-weight: bold;
}

.temas__photo {
    width: 100%;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
}

.temas__photo--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MENU DASHBOARD */