*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jockey One', sans-serif;
}

/* WELCOLME */

.container {
    text-align: center;
    margin-top: 20px;
}

.logo img {
    margin-top: 30px;
    width: 350px; /* Ajusta el tamaño según tus necesidades */
}

.options {
    display: flex;
    margin: 0 auto; /* Centrar horizontalmente */
    max-width: 30%; /* Ancho máximo */
    text-align: center; /* Centrar el contenido dentro de las opciones */
    margin-top: 20px;
    gap: 50%;
}

.option {
    margin-top: 80px;
    border: 8px solid #00b400;
    padding: 10px;
    text-align: center;
    width: 150px; /* Ancho igual a la altura para hacerlo cuadrado */
    height: 150px; /* Ajusta el tamaño de las opciones cuadradas según tus necesidades */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.icon {
    font-size: 48px; /* Ajusta el tamaño del ícono según tus necesidades */
}

.bottom-logo {
    margin-top: 150px; /* Espacio entre las opciones y el segundo logo */ 
    width: 70px; /* Ajusta el tamaño del segundo logo según tus necesidades */
}


/* LOGIN */


.login-form {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 80%;
}

.login-form label {
    font-weight: bold;
}

.form-group {
    /* margin-top: 10px; */
    margin-top: 40px;
}

form input, select {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #D9D9D9;
    border-radius: 20px;
}

form input:focus {
    outline: 2px solid #00b400; /* Cambia el color a verde cuando está seleccionado */
}

.form__alert{
    color: rgb(255, 33, 33);
}

.buttons {
    display: flex;
    margin: 0 auto; /* Centrar horizontalmente */
    margin-top: 150px;
    margin-left: 10px;
    gap: 40%;
}

.buttons button {
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border: 8px solid #00b400;
    padding: 10px;
    width: 180px; /* Ancho igual a la altura para hacerlo cuadrado */
    height: 60px; /* Ajusta el tamaño de las opciones cuadradas según tus necesidades */
}

/* REGISTRO */

.register-form {
    margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    width: 30%;
    border: 8px solid #00b400;
    font-weight: bold;
}

.register-form input, select {
    /* margin-top: 20px; */
    margin-bottom: 20px;

}

.register-buttons {
    display: flex;
    margin: 0 auto; /* Centrar horizontalmente */
    margin-top: 20px;
    margin-left: 10px;
    gap: 40%;
}

.register-buttons button {
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border: 8px solid #00b400;
    padding: 10px;
    width: 180px; /* Ancho igual a la altura para hacerlo cuadrado */
    height: 60px; /* Ajusta el tamaño de las opciones cuadradas según tus necesidades */
}